.idea
.project
.svn
.DS_Store
*/.svn
*/.DS_Store
*/.idea
framework/github/*
framework/github
*.log
logs/*

test-lib
*/node_modules
.vscode/settings.json
node_modules

*/atc
dist/*
output/*

npm-debug.log
mock
